.canvasArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150vw;
  cursor: crosshair;
  z-index: 0;

  .mockupsFlexContainer {
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 40%;

    .imageContainer {
      display: flex;
      overflow: hidden;
      margin-bottom: 1rem;
      user-select: none;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 6px;
      z-index: 0;

      img {
        width: auto;
        height: 80vh;
        user-select: none;
        z-index: 0;
        -webkit-user-drag: none;
      }
    }

    .imageContainerCommentMode {
      cursor: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2235%22%20viewBox%3D%220%200%2034%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20filter%3D%22url(%23filter0_d_2783_4673)%22%3E%0A%3Cpath%20d%3D%22M13%207.8C13%206.11984%2013%205.27976%2013.327%204.63803C13.6146%204.07354%2014.0735%203.6146%2014.638%203.32698C15.2798%203%2016.1198%203%2017.8%203H26.2C27.8802%203%2028.7202%203%2029.362%203.32698C29.9265%203.6146%2030.3854%204.07354%2030.673%204.63803C31%205.27976%2031%206.11984%2031%207.8V13.2C31%2014.8802%2031%2015.7202%2030.673%2016.362C30.3854%2016.9265%2029.9265%2017.3854%2029.362%2017.673C28.7202%2018%2027.8802%2018%2026.2%2018H23.6837C23.0597%2018%2022.7477%2018%2022.4492%2018.0613C22.1844%2018.1156%2021.9282%2018.2055%2021.6875%2018.3285C21.4162%2018.4671%2021.1725%2018.662%2020.6852%2019.0518L18.2998%2020.9602C17.8837%2021.2931%2017.6756%2021.4595%2017.5005%2021.4597C17.3483%2021.4599%2017.2042%2021.3906%2017.1092%2021.2716C17%2021.1348%2017%2020.8684%2017%2020.3355V18C16.07%2018%2015.605%2018%2015.2235%2017.8978C14.1883%2017.6204%2013.3796%2016.8117%2013.1022%2015.7765C13%2015.395%2013%2014.93%2013%2014V7.8Z%22%20fill%3D%22%23101828%22%2F%3E%0A%3Cpath%20d%3D%22M13%207.8C13%206.11984%2013%205.27976%2013.327%204.63803C13.6146%204.07354%2014.0735%203.6146%2014.638%203.32698C15.2798%203%2016.1198%203%2017.8%203H26.2C27.8802%203%2028.7202%203%2029.362%203.32698C29.9265%203.6146%2030.3854%204.07354%2030.673%204.63803C31%205.27976%2031%206.11984%2031%207.8V13.2C31%2014.8802%2031%2015.7202%2030.673%2016.362C30.3854%2016.9265%2029.9265%2017.3854%2029.362%2017.673C28.7202%2018%2027.8802%2018%2026.2%2018H23.6837C23.0597%2018%2022.7477%2018%2022.4492%2018.0613C22.1844%2018.1156%2021.9282%2018.2055%2021.6875%2018.3285C21.4162%2018.4671%2021.1725%2018.662%2020.6852%2019.0518L18.2998%2020.9602C17.8837%2021.2931%2017.6756%2021.4595%2017.5005%2021.4597C17.3483%2021.4599%2017.2042%2021.3906%2017.1092%2021.2716C17%2021.1348%2017%2020.8684%2017%2020.3355V18C16.07%2018%2015.605%2018%2015.2235%2017.8978C14.1883%2017.6204%2013.3796%2016.8117%2013.1022%2015.7765C13%2015.395%2013%2014.93%2013%2014V7.8Z%22%20stroke%3D%22white%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20filter%3D%22url(%23filter1_d_2783_4673)%22%3E%0A%3Cmask%20id%3D%22path-2-outside-1_2783_4673%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%221%22%20y%3D%2217%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22black%22%3E%0A%3Crect%20fill%3D%22white%22%20x%3D%221%22%20y%3D%2217%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9%2018C8.44772%2018%208%2018.4477%208%2019V24H3C2.44772%2024%202%2024.4477%202%2025C2%2025.5523%202.44772%2026%203%2026H8V31C8%2031.5523%208.44772%2032%209%2032C9.55228%2032%2010%2031.5523%2010%2031V26H15C15.5523%2026%2016%2025.5523%2016%2025C16%2024.4477%2015.5523%2024%2015%2024H10V19C10%2018.4477%209.55228%2018%209%2018Z%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9%2018C8.44772%2018%208%2018.4477%208%2019V24H3C2.44772%2024%202%2024.4477%202%2025C2%2025.5523%202.44772%2026%203%2026H8V31C8%2031.5523%208.44772%2032%209%2032C9.55228%2032%2010%2031.5523%2010%2031V26H15C15.5523%2026%2016%2025.5523%2016%2025C16%2024.4477%2015.5523%2024%2015%2024H10V19C10%2018.4477%209.55228%2018%209%2018Z%22%20fill%3D%22%23101828%22%2F%3E%0A%3Cpath%20d%3D%22M8%2024V25H9V24H8ZM8%2026H9V25H8V26ZM10%2026V25H9V26H10ZM10%2024H9V25H10V24ZM9%2019V19V17C7.89543%2017%207%2017.8954%207%2019H9ZM9%2024V19H7V24H9ZM3%2025H8V23H3V25ZM3%2025V23C1.89543%2023%201%2023.8954%201%2025H3ZM3%2025H3H1C1%2026.1046%201.89543%2027%203%2027V25ZM8%2025H3V27H8V25ZM9%2031V26H7V31H9ZM9%2031H7C7%2032.1046%207.89543%2033%209%2033V31ZM9%2031V33C10.1046%2033%2011%2032.1046%2011%2031H9ZM9%2026V31H11V26H9ZM15%2025H10V27H15V25ZM15%2025V27C16.1046%2027%2017%2026.1046%2017%2025H15ZM15%2025H17C17%2023.8954%2016.1046%2023%2015%2023V25ZM10%2025H15V23H10V25ZM9%2019V24H11V19H9ZM9%2019H11C11%2017.8954%2010.1046%2017%209%2017V19Z%22%20fill%3D%22white%22%20mask%3D%22url(%23path-2-outside-1_2783_4673)%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22filter0_d_2783_4673%22%20x%3D%2211.5%22%20y%3D%222.5%22%20width%3D%2221%22%20height%3D%2221.4595%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%20dy%3D%221%22%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%220.5%22%2F%3E%0A%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200.881487%200%200%200%200%200.881487%200%200%200%200%200.881487%200%200%200%201%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_2783_4673%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_2783_4673%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3Cfilter%20id%3D%22filter1_d_2783_4673%22%20x%3D%220%22%20y%3D%2217%22%20width%3D%2218%22%20height%3D%2218%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%20dy%3D%221%22%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%220.5%22%2F%3E%0A%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200.881487%200%200%200%200%200.881487%200%200%200%200%200.881487%200%200%200%201%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_2783_4673%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_2783_4673%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A")
          8 24,
        auto;
    }

    .imageContainerGrabMode {
      cursor: grab default;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid grey;
}
