.richTextInput {
  background-color: white;
  font-family: "DM Sans", "Inter", "system-ui", "Avenir", "Helvetica", "Arial",
    "sans-serif";
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  width: 240px;
  flex-shrink: 0;
  padding: 0 8px;
  border: 4px solid #a68fff;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  resize: none;
  align-items: flex-end;

  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .submitButton {
      display: flex;
      float: left;
      margin-left: auto;
      padding: 5px;
      border-radius: 6px;
      border: none;
      background-color: #7f5eff;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
  }
}
